<div class="row">
    <h1>Proyectos</h1>
    <div class="conteiner">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>NADA</h1>
            <p>Lorem ipsum dolor sit, amet consectetur 
                adipisicing elit. llo pariatur quasi 
                beatae earum, perferendis, repellendus 
                repellat architecto et aliquam deleniti 
                officiis ipsam aspernatur provident quaerat
                nihil, fugit ipsa at eaque.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/img/lobo.jpg" class="img-fluid img-proyect">
        </div>
    </div>
</div>
