.row{
    margin: 0px;
    padding: 10px;
}
div{
    background-color: rgba(113, 131, 211, 0.4);
}
.img-fluid {
    max-width: 100%;
    height: 100%;
    margin-top: -100px;
}
.parte1, .parte2{
    display: inline-block;
    text-align: justify;
}
.img-proyect{
    box-shadow: 10px 10px 30px #65e2f3;
}
