<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <ul>
            <li><h3>Bachiller en Economía y Administración</h3><h4> 2010-2015</h4></li>
            <p>Instituto Superior Verbo Divino</p>
        </ul>
        <ul>
            <li><h3>Repacción de Pc y Redes</h3><h4> 2021</h4></li>
            <p>Instituto Tecnológico N°2</p>
        </ul>
        <ul>
            <li><h3>Instérprete en Lengua de Señas Argentinas</h3><h4> 2022</h4></li>
            <p>Proyecto Idiomas</p>
        </ul>
    </div>
    <div class="col-lg-1"></div>
</div>