.row{
    margin: 0px;
}
div{
    background-color: rgba(5, 24, 110, 0.4);
}
footer{
    color: #fefefe;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #50424a;
}