<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/img/foto.jpg" class="img-fluid" id="fotito">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h3>Londero Gianfranco</h3>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de Mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur, 
                adipisicing elit. Voluptatem dolorem ex dicta! 
                Itaque fugit laborum ea dignissimos corrupti. 
                Aliquam provident consectetur, 
                iste cupiditate blanditiis commodi explicabo 
                perferendis nostrum a beatae.
            </p>
        </span>
    </div>
</div>